body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}
a{
    text-decoration: none;
}
.navbar{
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px ;
}
.nav-link{
    font-size: 20px;
}
.hero-text{
    text-decoration: underline;
    font-size: 40px;
    font-weight: bolder;
}
.image{
    width: 100%;
}
.garis{
    width: 100%;
    border: 2px solid;
    margin-bottom: 20px;
}
.button{
    border:none;
    width: 200px;
    height: 60px;
    border-bottom-right-radius: 100px;
    background-color: black;
    color: white;
    margin: 20px;
}
.button:hover{
    background-color: rgb(31, 30, 30);
    color: white;
}

.text-content{
    text-align: center;
    font-size:60px;
}
.paragraph{
    border: 3px solid;
    border-top-right-radius:50px ;
    border-bottom-left-radius:50px ;
}

.bg-img{
    background-image: url('../assets/business.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.img-client{
    width: 200px;
    align-self: center;
}